@model dynamic
@{
    ViewData["Title"] = "Home";
}
<h2 class="mb-4">Featured Movies</h2>
<div class="row">
    @foreach (var movie in Model.Featured)
    {
        <div class="col-md-3 mb-4">
            <div class="card">
                <img src="@movie.ImageUrl" class="card-img-top" alt="@movie.Title" />
                <div class="card-body">
                    <h5 class="card-title">@movie.Title</h5>
                </div>
            </div>
        </div>
    }
</div>

<h3 class="mt-5">Now Showing</h3>
<ul>
    @foreach (var movie in Model.NowShowing)
    {
        <li>@movie.Title</li>
    }
</ul>

<h3 class="mt-5">Coming Soon</h3>
<ul>
    @foreach (var movie in Model.ComingSoon)
    {
        <li>@movie.Title</li>
    }
</ul>

<h3 class="mt-5">Cinemas</h3>
<ul>
    @foreach (var cinema in Model.Cinemas)
    {
        <li>@cinema.Name - @cinema.City</li>
    }
</ul>
