@model IEnumerable<VoxTics.Models.ViewModels.Movie.MovieVM>


<h2>⭐ Top Rated Movies</h2>

<div class="row">
    @foreach (var movie in Model)
    {
        <div class="col-md-3 mb-4">
            <div class="card h-100 shadow-sm">
                <img src="@movie.MainImageUrl ?? " /images/default-movie.jpg"" class="card-img-top" alt="@movie.Title" />
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">@movie.Title</h5>
                    <p>Rating: @movie.Rating</p>
                    <a class="btn btn-sm btn-primary mt-auto" href="@Url.Action("Details", "Movies", new { id = movie.Id })">View</a>
                </div>
            </div>
        </div>
    }
</div>
