@model VoxTics.Areas.Admin.ViewModels.MovieVMs.MovieIndexVM

@if (Model.TotalPages > 1)
{
    <nav>
        <ul class="pagination justify-content-center">
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-action="Index"
                       @* asp-route-search="@Model.Search" *@
                       @* asp-route-categoryId="@Model.CategoryId" *@
                       asp-route-page="@i">@i</a>
                </li>
            }
        </ul>
    </nav>
}
