@model VoxTics.Models.Movie

<h2>@Model.Title</h2>

<p><b>Cinema:</b> @Model.Cinema?.Name</p>
<p><b>Category:</b> @Model.Category?.Name</p>
<p><b>Description:</b> @Model.Description</p>
<p><b>Price:</b> $@Model.Price</p>
<p><b>Status:</b> @Model.MovieStatus</p>
<p>
    <b>Actors:</b>
    @string.Join(", ", Model.MovieActors.Select(ma => ma.Actor.FirstName + " " + ma.Actor.LastName))
</p>
<a asp-action="Index">Back to List</a>
