@using VoxTics.Areas.Admin.ViewModels.Showtime
@model ShowtimeViewModel

<div class="modal-header">
    <h5 class="modal-title">Showtime Details</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>
<div class="modal-body">
    <dl class="row">
        <dt class="col-sm-4">Movie</dt>
        <dd class="col-sm-8">@Model.MovieTitle</dd>

        <dt class="col-sm-4">Cinema</dt>
        <dd class="col-sm-8">@Model.CinemaName</dd>

        <dt class="col-sm-4">Hall</dt>
        <dd class="col-sm-8">@Model.HallName</dd>

        <dt class="col-sm-4">Start Time</dt>
        <dd class="col-sm-8">@Model.StartTime.ToString("MMM dd, yyyy hh:mm tt")</dd>

        <dt class="col-sm-4">End Time</dt>
        <dd class="col-sm-8">@Model.EndTime.ToString("MMM dd, yyyy hh:mm tt")</dd>

        <dt class="col-sm-4">Price</dt>
        <dd class="col-sm-8">@Model.FormattedPrice</dd>

        <dt class="col-sm-4">Total Seats</dt>
        <dd class="col-sm-8">@Model.TotalSeats</dd>

        <dt class="col-sm-4">Booked Seats</dt>
        <dd class="col-sm-8">@Model.BookedSeats</dd>

        <dt class="col-sm-4">Available Seats</dt>
        <dd class="col-sm-8">@Model.AvailableSeats</dd>

        <dt class="col-sm-4">Status</dt>
        <dd class="col-sm-8">@Model.StatusText</dd>
    </dl>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>
