@model VoxTics.Helpers.PaginatedList<VoxTics.Models.Entities.Movie>

<nav>
    <ul class="pagination">
        <li class="page-item @(Model.HasPreviousPage ? "" : "disabled")">
            <a class="page-link" asp-route-page="@(Model.PageIndex - 1)">Previous</a>
        </li>
        @for (var i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item @(i == Model.PageIndex ? "active" : "")">
                <a class="page-link" asp-route-page="@i">@i</a>
            </li>
        }
        <li class="page-item @(Model.HasNextPage ? "" : "disabled")">
            <a class="page-link" asp-route-page="@(Model.PageIndex + 1)">Next</a>
        </li>
    </ul>
</nav>
